@z_textColor         : #545454;
@z_themeColor        : #282A76;
@z_themeColor2       : #7CB830;
@z_themeColorBtn     : #97c43d;
@z_themeColorHeader  : #464646;
@z_path              : '../images/';

@import "zurmo.less";
@import "builder.less";

//@import "mixins.less";


//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*{
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html.zurmo,
html.zurmo body{
	min-height:100%;
}

html.zurmo{
	#gradient > .vertical-three-colors( #f6f6f6, #ffffff, 100px, #ffffff ) !important;
}

.zurmo body{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	//font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:@textColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing: antialiased;
	font-smooth: always;
	background: none;
}

.container{
	margin: 0;
	min-width:900px;
	max-width: 1600px;
}


@headerHeight : 50px;
@headerHeight2 : 46px;

.HeaderView{
	width: 100%;
	margin: 0 auto 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	#gradient > .vertical(@themeColorHeader, @themeColorHeader2);
	.b-shadow(0 0 10px 2px rgba(102, 102, 102, 0.7));
	padding-bottom: 3px;
	> .container{
		padding: 3px 0 1px 0;
		height: 100%;
		#gradient > .vertical(lighten(@headerBarColor, 5%), darken(@headerBarColor, 5%));
	}
}

.logo-and-search{
	float: left;
	padding: 0 0 0 15px;
}

#corp-logo{
	display: block;
	img{
		//display: block;
	}
	span{
		float: none;
		position: relative;
		top: -10px;
	}
}

#app-search{
	//margin-bottom: 5px;
	display: block;
	float: left;
	margin-left: 15px;
}

.user-actions{
	padding: 0 15px 0 0;
	position: relative;
	float: right;
	ul{
		list-style: none;
		li{
			position: relative;
			overflow: visible;
			a{
				color:#fff;
				font-weight:bold;
			}
			a:hover{
				color:#fff !important;
			}
		}
		ul{
			.headerDropDownSpecial;
			display: none !important;
		}
	}
}

#user-toolbar{
	float:right;
	position: static;
	right: 0;
	top: 0;
}

.user-menu-item{
	float: right !important;
}

#ShortcutsMenu {
	position: relative;
	float: right;
}

#header-calendar-link{
	margin-right: 8px;
}

.header-fixed_{
	.HeaderView{
		height: @headerHeight2;
		//.animateAll(@speed);
		> .container {
			background-image: none !important;
		//	.animateAll(@speed);
		}
	}
	#corp-logo{
		display: inline-block;
		//.animateAll(@speed);
		span{
			display: none;
		}
	}
	#app-search{
		display: inline-block;
		//.animateAll(@speed);
		margin-left: 0;
	}
	#globalSearchInput{
		//margin-top: 4px;
	}
	#ShortcutsMenu {
		clear: none;
		//.animateAll(@speed);
	}
	.AppContainer{
		//.animateAll(@speed);
		//margin-top: 40px;
	}
	.AppNavigation{
		//.animateAll(@speed);
		//margin-top: 40px;
	}
}

/*
html.with-padding_{
	background-image: none !important;
	background-color: #DDDEDE !important;
	.ui-chooser,
	.AppNavigation{
		left: 3% !important;
	}
	.AppContainer{
		margin: @headerHeight 3% 0 3%;
		border:1px solid #eee;
		border-top:none;
		#gradient > .vertical-three-colors( #f6f6f6, #ffffff, 100px, #ffffff );
		.b-shadow(0 0 12px 5px rgba(153, 153, 153, 0.3));
		.radius(0 0 5px 5px);
	}
	.FooterView{
		.container{
			padding-left: 3%;
		}
	}
	.logo-and-search{
		padding-left: 3%;
	}
	.user-actions{
		padding-right: 3%;
	}
}
*/

.AppContainer{
	height:100%;
	border-top:none;
	z-index: 0;
	position:relative;
	margin-top: @headerHeight;
}

.HeaderView,
.AppContainer,
.FooterView{
	//padding: 0 3% 0 3%;
}

@navWidth : 170px;
.AppNavigation{
	width: @navWidth;
	float: left;
	#gradient > .vertical(#dcdcdc, #e3e3e3);
	position: fixed;
	top: 0;
	bottom:0;
	//margin-top: @headerHeight;
	.animateAll(@speed);
	.ui-chooser{
		z-index: 999999;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		padding:8px 10px;
		margin: 0 1px;
		border-top:1px solid #ccc;
		.b-shadow(inset 0 1px 0 0 #F9F9FA);
		//background-color: #e3e3e3;
		border-right: 1px solid #eee;
		#gradient > .vertical(#dcdcdc, #e3e3e3);
		a{
			margin: 0 5px 0 0;
			float: left;
		}
		div{
			display: inline-block;
			float: right;
		}
	}
}

.icon-pin{
	font-size: 32px !important;
	cursor: pointer;
}

#MenuView{
	padding-top: 70px;
	#gradient > .vertical(#f6f6f6, #f4f4f4);
	.hideme{
		text-indent: 30px;
	}
	em{
		background:none !important;
	}
}

@speed : 0.28s;

.AppContent,
.FooterView{
	margin-left:@navWidth;
	.animateAll(0.28s);
}

.FooterView{
	padding: 10px 0 10px 20px;
	#credit-link{
		margin-left: 0;
	}
}

.nav-closed{
	@newWidth : 44px;
	.AppNavigation{
		width: @newWidth;

		&:hover{
		/*	width: @navWidth;
			.hideme{
				display: block !important;
			}
			+ .AppContent{
				margin-left: @navWidth;
				+ .FooterView{
					margin-left: @navWidth;
				}
			}
			*/
		}
	}
	.ui-chooser{
		width: 40px;
		div{
			float: none;
		}
	}
	.AppContent,
	.FooterView{
		margin-left: @newWidth;
	}
	.hideme{
		display: none !important;
	}
}

.avavtar-holder{
}

#avatar{
	width: 25px;
	height: 25px;
	margin-right: 10px;
	position: relative;
	top: 8px;
	.radius(50%);
	.b-shadow(~"inset 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0px 1px 1px 1px rgba(0,0,0,0.2)");
}

#MenuView{
	#search > a > em:before{
		content:  "k";
	}
	#shortcuts > a > em:before{
		content:  "Y";
	}
	#home > a > em:before{
		content:  "A";
	}
	#accounts > a > em:before{
		content:  "P";
	}
	#leads > a > em:before{
		content:  ".";
	}
	#contacts > a > em:before{
		content:  "y";
	}
	#opportunities > a > em:before{
		content:  "9";
	}
	#conversations > a > em:before{
		content:  "b";
	}
	#recently-viewed > a > em:before{
		content:  "{";
	}
	#mashableInbox > a > em:before{
		content:  "g";
	}
	#marketing > a > em:before{
		content:  '\00B6';
	}
	#reports > a > em:before{
		content:  "V";
	}
}