@z_textColor         : #545454;
@z_themeColor        : #282A76;
@z_themeColor2       : #7CB830;
@z_themeColorBtn     : #97c43d;
@z_themeColorHeader  : #464646;
@z_path              : '../images/';

@import "zurmo.less";

//@import "mixins.less";


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*{
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html.zurmo,
html.zurmo body{
	//background:#DDDEDE;
	min-height:100%;
}

html.zurmo{
	#gradient > .vertical-three-colors( #f6f6f6, #ffffff, 100px, #ffffff ) !important;
}

.zurmo body{
	//font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:@textColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing: antialiased;
	font-smooth: always;
	background: none;
}

.container{
	//margin:0 3% 0 3%;
	margin: 0;
	min-width:900px;
	max-width: 1600px;
}


@headerHeight : 84px;
@headerHeight2 : 46px;

.HeaderView{
	height: @headerHeight;
	width: 100%;
	margin: 0 auto 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: darken(@headerBarColor, 10%);

	@topColor : lighten(@headerBarColor, 10%);

	.b-shadow( ~"inset 0 10px 50px 0 @{topColor}");
	> div{
		//padding: 5px 15px;
	}
	> .container{
		height: 100%;
		//#gradient > .vertical( @themeColorHeader, @themeColorHeader2 );
		.b-shadow(0 0 10px 2px rgba(102, 102, 102, 0.5));


			background-color: transparent;
			//background-image: -o-linear-gradient(     0deg , rgba(51,204,255,1) 0%, @themeColorHeader 50%, rgba(51,204,255,0) 0%, @themeColorHeader2 100%);
			//background-image: -moz-linear-gradient(   0deg , rgba(51,204,255,1) 0%, @themeColorHeader 50%, rgba(51,204,255,0) 0%, @themeColorHeader2 100%);
			background-image:
				-webkit-linear-gradient(
					top,
					rgba(255,0,0,0) 0%,
					rgba(102, 102, 102, 0) 44%,
					rgba(102, 102, 102, 0) 50%,
					@themeColorHeader 50%,
					@themeColorHeader2 100%
			);
			//background-image: -ms-linear-gradient(    0deg , rgba(51,204,255,1) 0%, @themeColorHeader 50%, rgba(51,204,255,0) 0%, @themeColorHeader2 100%);
			//background-image: linear-gradient(        0deg , rgba(51,204,255,1) 0%, @themeColorHeader 50%, rgba(51,204,255,0) 0%, @themeColorHeader2 100%);



	}
}



.logo-and-search{
	width: 50%;
	float: left;
	padding: 5px 0 0 15px;
}

#corp-logo{
	margin-bottom: 5px;
	display: block;
	span{
		float: none;
		position: relative;
		top: -9px;
	}
}

#app-search{
	margin-bottom: 5px;
	display: block;
}

.user-actions{
	padding: 5px 15px 0 0;
	position: relative;
	width: 50%;
	float: right;
	ul{
		list-style: none;
		li{
			position: relative;
			overflow: visible;
			a{
				color:#fff;
				font-weight:bold;
			}
			a:hover{
				color:#fff !important;
			}
		}
		ul{
			.headerDropDownSpecial;
			display: none !important;
		}
	}
}


#user-toolbar{
	float:right;
	position: static;
	right: 0;
	top: 0;
}

.user-menu-item{
	float: right !important;
}

#ShortcutsMenu {
	position: relative;
	right: 10px;
	clear: right;
	float: right;
}



.header-fixed{
	.HeaderView{
		height: @headerHeight2;
		.animateAll(@speed);
		> .container {
			background-image: none !important;
			.animateAll(@speed);
		}
	}
	#corp-logo{
		display: inline-block;
		.animateAll(@speed);
		span{
			display: none;
		}
	}
	#app-search{
		display: inline-block;
		.animateAll(@speed);
		margin-left: 0;
	}
	#globalSearchInput{
		margin-top: 5px;
	}
	#ShortcutsMenu {
		clear: none;
		.animateAll(@speed);
	}
	.AppContainer{
		.animateAll(@speed);
		margin-top: 40px;
	}
	.AppNavigation{
		.animateAll(@speed);
		margin-top: 40px;
	}
}


html.with-padding_{
	background-image: none !important;
	background-color: #DDDEDE !important;
	.ui-chooser,
	.AppNavigation{
		left: 3% !important;
	}
	.AppContainer{
		margin: @headerHeight 3% 0 3%;
		border:1px solid #eee;
		border-top:none;
		#gradient > .vertical-three-colors( #f6f6f6, #ffffff, 100px, #ffffff );
		//background:#fff url("@{path}nav.png") -2px top repeat-y;
		.b-shadow(0 0 12px 5px rgba(153, 153, 153, 0.3)); /*999*/
		.radius(0 0 5px 5px);
	}
	.FooterView{
		.container{
			padding-left: 3%;
		}
	}
	.logo-and-search{
		padding-left: 3%;
	}
	.user-actions{
		padding-right: 3%;
	}
}


.AppContainer{
	height:100%;
	//border:1px solid #eee;
	border-top:none;
	//#gradient > .vertical-three-colors( #f6f6f6, #ffffff, 100px, #ffffff );
	//background:#fff url("@{path}nav.png") -2px top repeat-y;
	//.b-shadow(0 0 12px 5px rgba(153, 153, 153, 0.3)); /*999*/
	//.radius(0 0 5px 5px);
	z-index: 0;
	position:relative;
	margin-top: @headerHeight;
}

.HeaderView,
.AppContainer,
.FooterView{
	//padding: 0 3% 0 3%;
}




@navWidth : 170px;

.AppNavigation{
	width: @navWidth;
	float: left;
	//background-color: #DDDEDE;
	#gradient > .vertical(#dcdcdc, #e3e3e3);
	position: fixed;
	//left: 3%;
	top: 0;
	bottom:0;
	margin-top: @headerHeight;

	.ui-chooser{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 168px;
		padding:8px 10px;
		margin: 0 1px;
		border-top:1px solid #ccc;
		.b-shadow(inset 0 1px 0 0 #F9F9FA);

		a{
			margin: 0 5px 0 0;
		}
	}
}

#MenuView{
	#gradient > .vertical(#f6f6f6, #f4f4f4);
	.hideme{
		text-indent: 30px;
	}
	em{
		background:none !important;
	}
}

@speed : 0.28s;

.AppContent,
.FooterView{
	margin-left:@navWidth;
	.animateAll(0.28s);
}

.FooterView{
	padding: 10px 0 10px 20px;
	#credit-link{
		margin-left: 0;
	}
}

.nav-closed_{
	@newWidth : 40px;

	.AppNavigation{
		width: @newWidth;
		.animateAll(@speed);
		&:hover{
			width: @navWidth;
			.hideme{
				display: block !important;
			}
			+ .AppContent{
				margin-left: @navWidth;
				+ .FooterView{
					margin-left: @navWidth;
				}
			}
		}
	}
	.ui-chooser{
		width: 38px;
	}
	.AppContent,
	.FooterView{
		margin-left: @newWidth;
	}
	.hideme{
		display: none !important;
	}
}